<style>
	.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 150px; /* Changed this to accomodate content width */
  max-width: auto !important;
  max-height: auto;
  margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}
</style>
<div class="navbar-fixed">
	<nav >
		<div class="nav-wrapper light-blue">
			<a href="#" data-activates="mobile-demo" class="button-collapse show-on-medium-and-down show-on-large" ><i class="material-icons">menu</i></a>
			<a href="#!" class="brand-logo left hide-on-small-and-down">Logo</a>
			<ul class="right">
				<li>
					<a class='dropdown-button' href='#!' data-beloworigin="true" data-activates='drop_cart'><i class="material-icons">more_vert</i></a>
				</li>
				<li><a href="#!" id="toggleheader"><i class="material-icons">search</i></a></li>
				<li><a href="#!"><i class="material-icons">view_module</i></a></li>
				<li><a href="#!"><i class="material-icons">refresh</i></a></li>
				
				<ul id='drop_cart' class='dropdown-content'>
					
					@Html.Action("HeaderLinks", "Common")
				</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="#!">Sass</a></li>
				<li><a href="#!">Components</a></li>
				<li><a href="#!">Javascript</a></li>
				<li><a href="#!">Mobile</a></li>
			</ul>
		</div>
	</nav>
</div>
@Html.Action("AdminHeaderLinks", "Common")
	@*<nav>
		<div class="nav-wrapper light-blue">
			<form>
				<div class="input-field">
					<input id="search" type="search" required>
					<label for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</form>
		</div>
	</nav>*@




	<div class="header">
			@Html.Widget("headerm")
			<div class="header-upper">
				<div class="header-selectors-wrapper">
					@Html.Action("TaxTypeSelector", "Common")
					@Html.Action("CurrencySelector", "Common")
					@Html.Action("LanguageSelector", "Common")
					@Html.Widget("header_selectors")
				</div>
				<div class="header-links-wrapper">
					@Html.Action("HeaderLinks", "Common")
					@Html.Action("FlyoutShoppingCart", "ShoppingCart")
				</div>
			</div>
			<div class="header-lower">
				<div class="header-logo">
					@Html.Action("Logo", "Common")
				</div>
				<div class="search-box store-search-box">
					@Html.Action("SearchBox", "Catalog")
				</div>
			</div>
		</div>

<script>
	$(document).ready(function () {
		$('.button-collapse').sideNav({
			menuWidth: 240, // Default is 240
			edge: 'left', // Choose the horizontal origin
			closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
			draggable: true // Choose whether you can drag to open on touch screens
		}
	   );
		$("#toggleheader").click(function () {
			$(".header").toggle("slow");
		});
		$('.dropdown-button').dropdown({
		    inDuration: 300,
		    outDuration: 225,
		    hover: true, // Activate on hover
		    belowOrigin: true, // Displays dropdown below the button
		    alignment: 'right' // Displays dropdown with edge aligned to the left of button
		  
		});
		 
	});
</script>